/* GLOBAL */

:root {
  /* --color-1: #FA382F;
  --color-2: #072BCE;
  --color-3: #FDDFE7;
  --color-text: yellow;
  --color-bg1: white;
  --color-bg2: #F4F4F4; */

  --color-1: #f0a;
  --color-2: black;  /* footer, h2 */
  --color-3: white;  /* h2, tags, project text*/
  --color-text: white;
  /* --color-bg1: #00d;  */
  --color-bg1: rgb(0, 0, 200);
  --color-bg2: rgb(0, 0, 30);
}

body {
  background-color: var(--color-bg1);
  margin: 0;
  color: var(--color-text);
}

article {
  max-width: 550px;
  margin: auto;
}



/* FONTS */

h1 {
  font: Bold 40px/49px Montserrat, sans-serif;
  margin: 0;
}

.sub-titel {
  font: 24px/29px Montserrat, sans-serif;
  margin: 0;
}

h6 {
  font: 13px/15px Roboto, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 0;
}


h2 {
  padding: 3px 8px;
  background: var(--color-2);
  width: fit-content;
  color: var(--color-3);
  text-transform: uppercase;
  letter-spacing: 1px;
  font: Bold 22px/27px Montserrat, sans-serif;
  margin: 0 auto 35px auto;
  text-align: center;
}

.dark h2 {
  background: var(--color-1);
}

h3 {
  font: Bold 21px/25px Montserrat, sans-serif;
  color: var(--color-3);
  margin: 0 auto 35px auto;
  text-align: center;
  text-transform: uppercase;
}

.dark h3 {
  color: var(--color-1);
}

h4 {
  font: Bold 21px/32px Roboto, sans-serif;
  margin: 0;
}

h5 {
  font: Bold 17px/32px Roboto, sans-serif;
}

.red {
  color: var(--color-1);
  font-weight: normal;
}

.date {
  letter-spacing: 1px;
}

.upper-bold {
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:focus {
  outline: 3px dashed var(--color-3);
  outline-offset: 10px;
}




/* HEADER */

header {
  /* background-image: url(); */
  /* background-image: linear-gradient(rgb(7, 255, 181), rgb(0, 217, 255)); */
  padding: 0px 40px 0 40px;
  color: var(--color-text);

  /* copy */
  position: relative;
  height: 400px; /* video height */
  /* height: 100vh; */

}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;

  /* centers video */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.content-container-header {
  /* height: 200px;  */
  padding-top: 50px;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  
  overflow: visible;
  /* copy */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    */

}

.header-text-box {
  align-self: flex-start;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  border: 3px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .25);
  transition: transform .1s ease-out, background-color .1s ease-out;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 1);
  transform: scale(1.02);
  transition: transform .1s ease-in, background-color .1s ease-in;

}


.icon-img {
  width: 20px;
}

.codepen {
  width: 28px;
}

.profile-pic {
  width: 162px;
  height: 162px;
  border: 3px solid white;
  border-radius: 50%;
  margin-bottom: -15px;
}



/* SECTIONS */

.portfolio-section {
  padding: 58px 36px 40px 36px;
  font: 17px/29px Montserrat, sans-serif;
}

.dark {
  background-color: var(--color-bg2);
}



/* 1 INTRO */

.initial {
  width: 60px;
  height: 29px;
  /* same as line height */
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  /* align at baseline top */
}

.line {
  width: 45px;
  height: 3px;
  background: var(--color-1);
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color-1);
  margin-left: -3px;
}



/* 2 TECH */

.tech p {
  text-align: center;
}



/* 3 PROJECTS */

.project-card {
  display: block;
  max-width: 400px;
  margin: 30px auto 58px auto;
  font: 17px/29px Roboto;
}

.card-image-container {
  width: 100%;
  position: relative;
  background: var(--color-bg2);
}

.card-image-container img {
  width: 100%;
  /* opacity: 0.5; */
  display: block;
  /* to remove bottom margin from online */
}

.on-picture {
  position: absolute;
  height: fit-content;
  margin: 0;
  top: 50%;
  /* centers the textblock */
  left: 50%;
  /* centers the textblock */
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  /* centers the textblock */
  text-align: center;
  z-index: 10;
  font: Bold 16px/19px Montserrat, sans-serif;
  text-transform: uppercase;
  color: var(--color-3);
}

.tags {
  font: 9px/10px Roboto;
  color: #2B2E34;
  /* margin: 20px 0; */
  padding-bottom: 15px;
}

.tags p {
  display: inline;
  padding: 5px 10px;
  margin: 1px;
  background: var(--color-3);
}

.project-card:hover .upper-bold {
  text-decoration: underline;
}

.project-card:hover img {
  opacity: 1;
  transition: 0.2s;
}

.project-card:hover .on-picture {
  opacity: 0;
  transition: 0.2s;
}

.other-projects {
  margin-top: 80px;
}

.other {
  display: flex;
}

.other .card-image-container {
  width: 130px;
  margin: 20px 10px 0 0;
  flex-shrink: 1;
}

.other .card-text-container {
  width: 70%;
  flex-shrink: 0;
}

.other img {
  object-fit: cover;
  object-position: 50% 0;
  height: 120px;
  min-width: 60px;
}

.img-left {
  object-position: 0 0;
}

/* 4 THOUGHTS */

.thoughts {
  font: 17px/32px Roboto, sans-serif;
}

.thoughts p {
  margin: 0;
  line-height: 32px;
}

.thoughts img {
  width: 100%;
  margin-bottom: 25px;
}

.more-thoughts {
  margin-top: 80px;
}

.more-thoughts .project-card {
  margin-bottom: 1em;
}

.project-card:hover .thoughts-h4 {
  text-decoration: underline;
}

.project-card:hover strong {
  text-decoration: underline;
}



/* 5 SKILLS */

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-header {
  text-align: center;
  font-weight: bold;
  color: var(--color-1);
  text-transform: uppercase;
  margin: 0;
}

ul {
  width: 200px;
  font: 17px/29px Roboto, sans-serif;
  list-style: none;
  padding: 0 15px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}



/* 6 MORE */

.more-container-icon {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.more-icon-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--color-3);
  width: 60px;
}

.icon-more {
  border: 3px solid var(--color-3);
  width: 60px;
  height: 60px;
}

.icon-img-more {
  width: 24px;
}

.codepen-more {
  width: 32px;
}

.more-text {
  font: Bold 12px/40px Roboto, sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.more-icon-link:hover {
  text-decoration: underline;
}



/* FOOTER */

footer {
  width: 100%;
  height: 266px;
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h3 {
  color: var(--color-text);
  margin-bottom: 1em;
}

.contact {
  color: var(--color-text);
  font: 17px/29px Roboto;
  margin-bottom: 0;
}

footer ul {
  width: fit-content;
  margin-bottom: 0;
}

footer a:hover .mail {
  text-decoration: underline;
}



/* SCROLL BAR */

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: black
}

body::-webkit-scrollbar-thumb {
  background: var(--color-1);
}



/* ONLY DESKTOP */

.only-desktop-block,
.only-desktop {
  display: none;
}





/***********************************/
/************ DESKTOP **************/
/***********************************/


@media (min-width: 900px) {

  /* GLOBAL */

  .only-desktop {
    display: inline;
  }

  .only-desktop-block {
    display: block;
  }

  .only-mobile {
    display: none;
  }

  article {
    max-width: 1080px;
    margin: auto;
  }



  /* FONTS */

  h1 {
    font: Bold 78px/92px Montserrat, sans-serif;
  }

  .sub-titel {
    font: 50px/61px Montserrat, sans-serif;
  }

  h6 {
    font: 28px/33px Roboto, sans-serif;
  }

  h2 {
    font: Bold 48px/58px Montserrat, sans-serif;
    padding: 3px 15px;
    margin-bottom: 70px;
  }

  h3 {
    font: Bold 38px/47px Montserrat, sans-serif;
  }

  h4 {
    font: Bold 30px/41px Roboto, sans-serif;
  }



  /* SECTIONS */

  header,
  .portfolio-section {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
  }

  .portfolio-section {
    padding-top: 125px;
    padding-bottom: 125px;
    font: 30px/50px Montserrat, sans-serif;
  }



  /* HEADER */
  header {
    height: 600px;
    /* height: 100vh; */
  }
    
  .content-container-header {
    /* height: 555px; */
    padding-top: 100px;
  }

  .icons-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  .icon {
    width: 80px;
    height: 80px;
    border: 4px Solid White;
  }

  .icon-img {
    width: 32px;
  }

  .codepen {
    width: 42px;
  }

  .profile-pic {
    width: 260px;
    height: 260px;
    margin-top: 30px;
    margin-bottom: -30px;
    border: 4px Solid White;
  }



  /* 1 INTRO */

  .initial {
    width: 110px;
    height: 50px;
  }

  .line {
    width: 80px;
    height: 4px;
  }

  .circle {
    width: 20px;
    height: 20px;
  }



  /* 3 PROJECTS */
  .project-card-container {
    display: flex;
    justify-content: center;
  }

  .card-image-container img {
    opacity: 0.6;
  }

  .project-card {
    margin-right: 20px;
    margin-left: 20px;
    max-width: 522px;
    margin-top: 0;
    font: 25px/41px Roboto, sans-serif;
  }

  .on-picture {
    font: Bold 28px/34px Montserrat, sans-serif;
  }

  .tags {
    font: 16px/19px Roboto, sans-serif;
  }

  .other-projects p {
    margin-left: 10px;
  }

  .other {
    max-width: 100%;
    align-items: center;
  }

  .other .card-image-container {
    width: 300px;
    min-width: 220px;
    flex-shrink: 1;
  }
  
  .other .card-text-container {
    width: 720px;
    flex-shrink: 1;
  }

  .other img {
    object-fit: contain;
    height: auto;
  } 



  /* 4 THOUGHTS */

  .thoughts {
    font: 25px/41px Roboto, sans-serif;
  }

  .thoughts p {
    line-height: 41px;
  }

  .thoughts img {
    margin-bottom: 50px;
  }



  /* 5 SKILLS */

  ul {
    min-width: 40%;
    font: 25px/41px Roboto, sans-serif;
    list-style: none;
    padding: 0 15px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
  }



  /* 6 MORE */

  .more-icon-link {
    width: 160px;
  }

  .icon-more {
    border-width: 5px;
    width: 150px;
    height: 150px;
    margin-bottom: 35px;
  }

  .icon-img-more {
    width: 60px;
  }

  .codepen-more {
    width: 84px;
  }

  .more-text {
    font: Bold 25px/41px Roboto;
  }



  /* FOOTER */

  footer {
    height: 573px
  }

  footer h3 {
    margin-bottom: 1em;
  }

  .contact {
    font: 30px/50px Montserrat;
    color: var(--color-text);
  }



}